<header class="flex-center">
  <h1 hidden>ERP</h1>

  <div class="flex-center">
    <i
      (click)="toggleSideBar()"
      class="fas fa-bars pl-10 pr-10 pt-10 pb-10 font-x-large"
    ></i>
    <a [routerLink]="['/employment']" routerLinkActive="router-link-active">
      <img
        src="assets/images/nrg-logo-transparent.png"
        class="i"
        alt="app logo"
      />
    </a>

    <i class="fas fa-search search-icon" aria-hidden="true"></i>
    <input class="" type="search" autocomplete="on" placeholder="Search here" />
  </div>
  <div class="flex-center">
    <app-user-avatar></app-user-avatar>
    <i class="fas fa-cog"></i>
  </div>

  <!-- <a [routerLink]="['/']"> <i class="fas fa-power-off"></i></a> -->
</header>
