@import "base/variables";

:host {
  color: $text-alternate-color;
}

header {
  background-color: $main-bg;
  height: 100px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: 0 auto;
  margin-top: 200px;
  background: $login-form-bg;
  max-width: calc(100vw - 50px);
  flex-direction: column;

  form {
    width: 100%;
    padding: 20px;

    input:not([type="checkbox"]) {
      font-size: $large;
      padding: 10px;
      width: 100%;
      float: left;
      display: block;
      clear: both;
      margin: 10px 0;
    }

    button[type="submit"] {
      float: left;
      color: $white;
      background: $login-title-color;
      padding: 10px 20px;
    }
    .remember-me {
      float: right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      span {
        margin-bottom: 10px;
      }
    }
  }
}
