<header class="flex-center">
  <img src="assets/images/nrg-logo.png" class="" alt="Logo" />
</header>
<main>
  <p class="font-x-large">Employment Sign In</p>
  <form class="pt-0" [formGroup]="loginForm" (submit)="submitLoginForm()">
    <span class="icon-wrapper">
      <i class="fas fa-user"></i>
      <input
        type="text"
        placeholder="Username"
        formControlName="userName"
        autocomplete="false"
      />
    </span>
    <span class="icon-wrapper">
      <i class="fas fa-unlock-alt"></i>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="false"
      />
    </span>
    <button type="submit" class="mt-10 font-large">Sign In</button>
    <div class="remember-me font-x-small mt-10">
      <span class="p-"><input type="checkbox" /> Remember me </span>
      <span>Forgot Password?</span>
    </div>
  </form>
</main>
